/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

main {
	padding-top: 52px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'EB Garamond', serif;
}

h2 {
	font-size: 3.3rem;
}

.accent {
	color: rgba(224, 90, 60, 1.0);
}

.jumbotron {
	background: transparent;
	margin-bottom: 2rem;
	padding: 0;
}

/***********************
globals
***********************/
.logo-text {
	margin: 8rem 0 4rem 0;
	font-family: 'Rock Salt', serif;
	font-size: 6rem;
	text-align: center;
}
.home-page {
	background: url("../images/rootstable.png") center center no-repeat;
	background-size: cover;
	min-height: 95vh;
}

.catchy-home {
	font-size: 3rem;
	font-family: 'Rock Salt', serif;
	color: white;
	text-align: center;
}

.navbar-default {
	background-color: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}


.navbar-brand {
	font-family: 'Rock Salt', serif;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*Styles for the landing page*/
html, body, .container-table{
	height: 100%;
}
body{
	max-height: 525px;
}

/*styles for footer.php*/
.foot{
	text-align:center;
	background: transparent;
	color:white;
}

/********************************************
* Flexbox Column Height Control
* Equal height content boxes using Flexbox CSS
*
* Author: rlewis37
********************************************/

/*
* add the class "row-flex" to each row that
* houses columns that need to be equal height
*
* this example is set to work on the MD breakpoint
* adjust @media query min-width if necessary
*/

.row-flex > div[class*="col-"] {
	margin-bottom: 5px;
}

/* use the min-width of the appropriate breakpoint (this is set on md and lg)*/
@media only screen and (min-width: 992px) {
	.row-flex {
		display: flex;
		flex: 1 1 auto;
		-webkit-flex-flow: row wrap;
		align-content: flex-start;
	}

	.row-flex > div[class*="col-"] {
		display: flex;
		flex: 1 1 auto;
		margin: -.2px;
	}
}

/** Push .thumbnail buttons to the bottom **/

.thumbnail {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.thumbnail .caption {
	flex: 1 0 auto;
}
