<phpunit>
	<testsuites>
		<testsuite name="Roots Table Test">
			<!-- <file>PurchaseTest.php</file> -->
			<!--<file>ProductImage.php</file>-->
			<!--<file>ImageTest.php</file>-->
		<!--<file>CategoryTest.php</file>-->
		<!-- <file>LocationTest.php</file> -->
		<!--<file>ProductTest.php</file>-->
		<!--<file>ProfileTest.php</file>-->
		<!--<file>LedgerTest.php</file>-->
		<!-- <file>UnitTest.php</file> -->
		<file>ProfileImageTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
