<phpunit>
	<testsuites>
		<testsuite name="Roots Table Test">
			<file>ProductTest.php</file>
			<!-- <file>locationTest.php</file> -->
			<!-- <file>imageTest.php</file> -->
			<!--<file>ProfileTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
